html {
  height: 100%;
}

body {
  height: 93%;
}

body {
  background-color: #FFF;
  background-repeat: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-top: 10vh;
  background-attachment: fixed;
  transition: all 0.25s ease-in-out;
  margin: 0;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  color: #606060;
}

body.push-down {
  padding-top: 30vh;
}
.align-center {
  text-align: center;
}

.reset-page {

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Source Sans Pro', sans-serif;
  color: #606060;
  opacity: 0.65;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  color: #606060;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  margin: 0 0 0.25em;
  color: #606060;
  font-weight: normal;
  font-size: 1.5em
}

.form-control {
  font-size: 1.5em;
  width: 70%;
  padding: 1em 0.75em 1em 1.75em;
  border: 1px solid rgba(0,0,0,0.65);
  border-radius: 5px;
  background-color: #dcf0ff
}

.form-control:focus {
  border-radius: 5px;
}

.form-group__icon {
  position: absolute;
  font-size: 1.5em;
  color: rgba(0,0,0,0.2);
  left: 1.25em;
  line-height: 2.25em;
}

.help-text {
  display: none;
  text-align: left;
  margin-left: 13%;
}

.panel {
  text-align: left;
  position: relative;
  transition: all 0.4 ease-in-out;
}

.hide {
  display: none;
}

p {
  margin: 0;
  color: rgba(0,0,0,0.5);
}

.panel-default {
  float: left;
  width: 48%;
  margin: 0 1% 2% 1%;
  padding: 0.5em;
  border: 1px solid rgba(0,0,0,0);
  background-color: #bdd2e5;
  position: relative;
  top: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 49%;
}

.search-results::after {
  content: "";
  display: table;
  clear: both;
}

.panel-right {
  text-align: right;
}

.search-results {
  padding-top: 2em;
  padding-left: 12%;
  padding-right: 12%;
  height: 41em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
}

.jwstyle {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('../img/jw_logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hmstyle {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('../img/hm_logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.panel-cta {
  display: block;
  line-height: 16px;
}

.panel-cta .material-icons {
  display: inline-block;
  font-size: 1em;
  position: relative;
  top: 0.25em;
}

.panel .col-xs-4 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.panel-default:hover {
  border: 1px solid orange;
  cursor: pointer;
}

.panel-default:hover a {
  color: #420296;
}

.panel-default--selected,
.panel-default--selected:hover {
  transition: all 0.08s ease-in-out;
  background: #fff;
  box-shadow: inset 0 0 0 5px #75ffe3;
}

.image {
  text-align: center;
  padding: 1em;
}

.des {
  line-height: 1em;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(0.94, 0.94, 1);
  }

  35% {
    transform: scale3d(1.04, 1.04, 1);
  }

  50% {
    transform: scale3d(0.97, 0.97, 1);
  }

  65% {
    transform: scale3d(1.02, 1.02, 1);
  }

  75% {
    transform: scale3d(0.99, 0.99, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeanim {

  from {
    opacity: 0;
  }

  25% {
    opacity: 25%;
  }

  35% {
    opacity: 35%;
  }

  50% {
    opacity: 50%;
  }

  65% {
    opacity: 65%;
  }

  75% {
    opacity: 75%;
  }

  to {
    opacity: 100%;
  }

}

.rubber {
  animation-name: rubberBand;
  animation-duration: 0.7s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.7s
}
